 @media (max-width:765px){

  .logo img {
    padding: 2rem 0 0 0;
    width: 30rem;
    overflow: visible;
  }
  .search input {
    padding: 0 2rem;
    font-size: 2rem;
    padding-top: 2.5px;
  }
  .bottomp {
    padding-bottom: 2rem;
  }
  .search {
    width: 60% !important;
     margin-top: 6px;
  }
  .search img {
    height: 6rem;
    width: 6rem;
  }
  .forNone {
    position: absolute;
    top: -9999px;
    left: -9999px;
    margin: 0 0;
  }

  .fz1{
  font-size: 2rem;
  }

  .account,.location {
    position: absolute;
    top: -9999px;
    left: -9999px;
    margin: 0 0;
    /* opacity: 0; */
  }
  .shopByC h2 {
    font-size: 4rem;
  }
  .Aic{
    padding: 2rem; 
    display: flex; 
    justify-content: center; 
  }
   .rrrr img{
    height: 20rem;
    width: 20rem;
  } 

  .card-body strong {
    font-size: 2rem;
  } 

  .img-cc {
    height: 40rem !important;
  }

  .Snacks {
    font-size: 3rem;
  }

  .snacksDesc {
    font-size: 2.5rem;
  }
  .stars img{
      width: 3rem;
      height: 3rem;
      margin-bottom: 2rem;
  }

  .dell {
    font-size: 2.5rem;
  }
  .addToCartbtntxt {
    width: 50%;
    height: 5rem;
  }
  .addToCartbtntxt span {
    font-size: 2rem;
  }
  .addToCartbtn img {
    height: 2rem;
    width: 3rem;
  }
  .off1 {
      width: 33%;
      height: 4rem !important;
      font-size: 2rem;
      padding-top: 1rem;
  }

  .off {
    width: 24%;
    height: 7rem !important;
    font-size: 3.5rem;
    padding-top: 3px;
      font-weight: 500;

  }
  .pbottom {
    padding-bottom: 3rem;
  }

  .nameV,.heal,.desc,.Date {
    font-size: 3rem;
  }
  .readmore span {
    font-size: 3rem;
  }
  .readmore img {
    width: 6rem;
    height: 4rem;
  }

  .how,.how span {
    font-size: 5rem;
  }

  .howSearch {
    font-size: 3rem !important;
  }

  .howDesc{
    padding: 0 22rem !important;
    font-size: 2rem !important;
  }

  .howImg img {
    width: 15rem;
    height: 15rem;
  }

  .card span {
    font-size: 1.6rem;
  }

  .card li {
    padding-bottom: 2rem;
  }
  .remove1 {

    position: absolute;
    top: -9999px;
    left: -9999px;
    margin: 0 0;
  
  }
/* 
  .big {
    font-size: 2rem !important;
    margin-left: -4rem;
  } */

  /* .marginL {
    margin-left: -4rem;
  } */

  

  .font span {
    font-size: 1.5rem !important;
  }
 
  .copyright{
    font-size: 2rem;
  }

  .orderBtn,.Special0 {
    font-size: 2rem
  }

  .shadow {
    margin-bottom: 3rem;
  }

  .sha {
    width: 100%;
  }

  .remove {
      position: absolute;
      top: -9999px;
      left: -9999px;
      margin: 0 0;

  }

  
}


  /* .card img {
    height: 20%;
    width: 30%;
  }  */
  /* .card {
    height: auto;
    width: 90%;
  } */
  /*.shopByC{
    gap: 2rem;
  }

  .card1 {
    height: 20vh; 
    width: 50%;
  }
  .card {
    height: 60vh;
    width: 90%;
  }
  .sha img {
    height: 50%;
    width: 50%;
  } 
  .Aic{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .account,.vegetable {
    position: absolute;
    top: -9999px;
    left: -9999px;
    margin: 0 0;
  }
  .location {
    width: 50%;
  }

  .off1 img {
    width: 50%;
  }

  .img-cc{
    width: 70%;
    height: 40rem !important;
  }

  .Snacks,.mb-1, .dell {
    font-size: 3rem;
  }
  .stars img{
    width: 4rem;
    height: 3rem;
  }

  .addToCartbtntxt {
    width: 35%;
    height: 6vh;
  }

  .addToCartbtntxt span {
    font-size: 3rem;
  } */

  /* .card-body p del {
    font-size: 3rem;
  } */
 
 
/* } */

  /* @media (max-width:570px){ */
  /* .shopByC{ */
    /* gap: 2px; */
  /* } */
  /* .dddd{ */
    /* gap: 5rem !important; */

   /* }   */
   /*  
  .card1 {
    height: 20vh;
    width: 90%;
    padding: 1rem;
  }

  .card {
    height: 65vh;
    width: 90%;
  }
  .sha img {
    height: 50%;
    width: 50%;
  }
  .Aic{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .img-cc{
    width: 70%;
    height: 86rem !important;
  }


  .addToCartbtntxt {
    width: 40%;
    height: 6vh;
  } */

 
/* } */